* {
    box-sizing: border-box;
}

body {
    background-color: #e8776d;
    margin-top: 0;
    margin-bottom: 100px;
}

header {
    text-align: center;
    width: 100%;
    max-width: 968px;
    margin: -20px auto 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > * {
    width: 50%;
}

.header-text {
    background-color: #223452;
    margin: 0;
    padding: 20px;
    width: 350px;
}

.arrow-down {
    width: 0;
    height: 0;
    transform: translate(135px, 60px) scale(8.8,3);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #223452;
}

.main-title, .subtitle {
    margin: 0;
    color: white;
}

.main-title {
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

a {
    text-decoration: none;
}

.tagline {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 20px 0 0;
    color: #223452;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    header {
        display: block;
    }

    header > * {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .header-text {
        margin: auto;
    }

    .tagline {
        margin-top: 80px;
    }
}

article {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 968px;
}

article div {
    border-bottom: 1px solid #d96262;
    padding-bottom: 20px;
}

article div:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.question, .answer {
    color: black;
}

.question {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 30px 0 10px;
}

.answer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

.answer a {
    color: black;
    text-decoration: underline;
}

.image-section {
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.image-section h4 {
    font-size: 2rem;
    color: black;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    text-align: center;
}

.image-section > * {
    width: 50%;
}

.image-section img {
    max-width: 400px;
}

@media only screen and (max-width: 600px) {
    .image-section {
        display: block;
    }

    .image-section > * {
        width: 100%;
        text-align: center;
    }
}

.images-row-3 {
    display: flex;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.images-row-3 img {
    width: 32%;
}

.images-row-3 img:nth-child(2) {
    margin: 0 20px;
}

@media only screen and (max-width: 800px) {
    .images-row-3 {
        display: block;
    }

    .images-row-3 img {
        width: 100%;
        max-width: 400px;
        margin: 0 0 20px 0;
    }

    .images-row-3 img:nth-child(2) {
        margin: 0 0 20px 0;
    }
}
